/* Basic Style */

.body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

#header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header__img {
    width: 100%;
}

.header__link {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {

    #header { 
        text-align: center;
    }

}

.main-element {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.task-row-wrapper {
    display: flex;
}

.list {
    margin: 0;
    padding: 0px;
}

.list__item {
    list-style: none;
    vertical-align: middle;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-input {
    outline: none;
}

.edit-btn,
.delete-btn {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.edit-btn:hover {
    color: #3a3a3a;
}

/* Heading */

.h3 {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

/* New Task */

label[for="new-task"] {
    display: block;
    margin: 0 0 20px;
}

#new-task {
    display: inline-block;
    width: 318px;
}

/* Task list */

.task {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.task,
.task-input {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.task-input {
    display: none;
    width: 226px;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.task-input:focus {
    color: #333;
}

.checkbox {
    margin: 0 10px;
}

.delete-btn__img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.delete-btn__img:hover {
    transform: rotateZ(0);
}

/* Completed */

#completed-tasks .task {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */

.edit-mode > .task-input {
    display: inline-block;
    width: 224px;
}

.edit-mode__label { 
    display: none;
}